@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes heartbeat2 {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}