.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        display: block;
        text-align: center;
        color: $white_color;
        font-size: 12px;
        font-weight: 500;
        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &__phone {
        display: block;
        color: $white_color;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        margin-bottom: 8px;
        &:hover {
            color: $white_color;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }
    
}